# dependencias
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
coverage/
*.tsbuildinfo
next-env.d.ts

# entorno
.env
.env.*
!.env.example

# sistema / editores
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# despliegue
.vercel/
